<!DOCTYPE html>
<html style="margin:0px;padding:0px;">
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
</head>
<body style="margin:0px;padding:0px;">
<table width="100%" align="center" cellpadding="0" cellspacing="0" style="margin:0px auto;border-collapse:collapse; border-width:0px; font-family:Lucida Sans Unicode,Tahoma,sans-serif;font-size: 11pt;background-color:#ffffff; color: #515151;">
	<tr><td border="0" valign="top" style="border:none; padding:0px; text-align:left; ">
		
		<p style="margin: 0px 16px 1.6em; clear: both;">
			Hello,
		</p>
		<p style="margin: 0px 16px 1.6em; clear: both;">
			You've requested password reset for your {{SITE_NAME}} account.<br>
			If you didn't request this, you can ignore this email.<br>

			To reset the password please follow the link <a href="{{RESET_PASSWORD_URL}}">{{RESET_PASSWORD_URL}}</a>
		</p>
		<p style="margin: 0px 16px 1.6em; border-top: 1px dotted #CCCCCC; float: left; font-style: italic; padding-top: 10px;">
			Sincerely,<br />
			{{SITE_NAME}} Team
		</p>
	</td></tr>
	</table>
</body></html>